$sans-serif: 'encode_narrowregular', sans-serif;
$sans-serif-bold: 'encode_narrowmedium', sans-serif;
$sans-serif-condensed: 'encode_compressedlight', sans-serif;
$sans-serif-widebold: 'encode_normalsemibold', sans-serif;

body {
  font-family: $sans-serif;
  font-size: 18px;
  color: $black;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $sans-serif-bold;
  line-height: $header-line-height;
  // @include media($medium-screen) {
  //   font-size: 1.4em;
  // }
}

h1 {
  font-family: $sans-serif-widebold;
  font-size: $h2-font-size;
  line-height: $h1-line-height;
  // margin-bottom: $h1-margin-bottom;

  @include media($large-screen) {
    font-size: $h1-font-size;
  }
}



h2 {
  font-size: $h3-font-size;
  font-family: $sans-serif-condensed;

  @include media($large-screen) {
    font-size: $h2-font-size;
  }
}

h3 {
  font-size: $h4-font-size;

  @include media($large-screen) {
    font-size: $h3-font-size;
  }
}

h4 {
  font-size: $h4-font-size;
  font-family: $sans-serif-condensed;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p.date {
  color: transparentize($base-font-color, .6);
  font-family: $sans-serif;
}

p {
  font-family: $sans-serif;
  font-weight: 300;
  letter-spacing: 1;
  margin-bottom: 1.5em;

  span {
    font-family: $sans-serif;
    font-weight: 600;
  }
}

hr {
  width: 3em;
}

a {
  @include transition(color 0.1s linear);
  color: $base-link-color;
  text-decoration: none;

  &:hover {
    color: $hover-link-color;
  }

  &:active, &:focus {
    color: $hover-link-color;
    outline: none;
  }
}

a.read-more {
  display: inline-block;
  font-family: $sans-serif;
  font-weight: 700;
  font-size: .8em;
  text-transform: uppercase;
  margin-left: .2em;
  position: relative;

  span {
    right: -10px;
  }
}

p.author {
  font-family: $sans-serif;
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

code {
  white-space: nowrap;
  font-family: monaco;
  background: #F7F7F7;
  border: 1px solid #E0E0E0;
  border-radius: $base-border-radius * 1.5;
  padding: .1em .4em;
  font-size: .65em;
  font-style: normal;
}

.type {
  border-bottom: 1px solid;
  display: inline-block;
  font-family: $sans-serif-condensed;
  font-size: .7em;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 2em;
  padding: .1em 0;
  text-align: left;
  text-transform: uppercase;
}

.type-center {
  text-align: center;
}

p.type-large {
  font-size: 1.333em;
}

p.type-small {
  font-size: 0.9em;
}

.measure {
  max-width: $measure;
  margin: 0 auto;
}
