<aside class="artwork-metadata">
  <hgroup>
    <h3 class="name">Mark Lovejoy<h3>
    <p class="title">Topographies of Color, 2014</p>
  </hgroup>

  <button class="label">Interior</button><button class="label">Abstract</button>

  <p class="type-small artist-description">Mark Lovejoy was born in 1952 in Alpine, Texas. Though he is self-taught and has no formal education in photography, his striking images reflect the hand of a master.</p>

  <ul class="meta stats">
    <li class="quantity">250<span class="label">Edition</span></li>
    <li class="medium">Photo <span class="label">Medium</span></li>
    <li class="price">$10<span class="label">Price</span></li>
  </ul>

  {{ artwork-actions }}
</aside>
