<div class="artwork-item">
  <figure class="artwork-item-image">
    <img src="images/artwork.png" alt="">

    <figcaption class="artwork-header">
      <h5>Jaco Putker</h5>
      <p>Figure D'écorché</p>
    </figcaption>
  </figure>
</div>
