<section class="artwork-frame">
  <figure class="artwork-image" style="background-image: url(<%= image_path("artwork.png") %>);">
    <img src="<%= image_path("artwork.png") %>" alt="">
  </figure>
</section>
