<aside class="artwork-stats">
  <button class="narrow">Favorite</button>

  <div class="modal">
    <label for="modal-2">
      <div class="button narrow js-btn">Share</div>
    </label>
    <input class="modal-state" id="modal-2" type="checkbox" />
    <div class="modal-window">
      <div class="modal-inner">
        <label class="modal-close" for="modal-2"></label>
        <h1>Modal Title</h1>
        <p class="intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
        <p class="body">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam.</p>
      </div>
    </div>
  </div>

  <div class="excerpt">
    A monochromic landscape that transcends the boundaries between magical and dangerous, nostalgic and futuristic worlds
  </div>
  <ul class="stats">
    <li class="collectors">35 <span class="label">Collectors</span></li>
    <li class="views">327 <span class="label">Views</span></li>
    <li class="favorites">7 <span class="label">Favorites</span></li>
  </ul>

  <ul class="social-feed h4">
    <li>John bought this piece</li>
    <li>John bought this piece</li>
    <li>John bought this piece</li>
  </ul>
</aside>
