<section class="component-browse-discover">
  <div class="browse-discover-list type-center">
    <h1>Discover</h1>
    <ul class="browse-discover-genres">
    {{#each category in categories}}
      <li><a href="#">{{ category.name }}</a></li>
    {{/each}}
    </ul>
  </div>
</section>
<section class="component-browse-artwork">
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
</section>

<section class="component-browse-more type-center">
  <button>Discover More</button>
</section>
