<div class="component-hero-action hero" style="background-image: url(<%= image_path("tweak.jpg") %>);">
  <div class="hero-inner">
    <a href="" class="hero-logo">{{ artwork-logo }}</a>
    <div class="hero-copy">
      <h1>Short description of Product</h1>
      <p>A few reasons why this product is worth using, who it's for and why they need it.</p>  
    </div>
    <button>Learn More</button>
  </div>
</div>
