<section class="splash-info">
  <div class="container type-center">
    <div class="splash-infobox">
      <span class="icon-globe icon-xlarge"></span>
      <h3>Discover</h3>
      <p>We curate the best emerging artists and display them worldwide</p>
    </div>
    <div class="splash-infobox">
      <span class="icon-tag icon-xlarge"></span>
      <h3>Collect</h3>
      <p>When you buy artwork you support artists and their works directly</p>
    </div>
    <div class="splash-infobox">
      <span class="icon-monitor icon-xlarge"></span>
      <h3>Display</h3>
      <p>We’re building our platform so you can find like minded art collectors</p>
    </div>
  </div>
</section>
