<header class="gallery-title">
  <h4 class="subhead type">More from this Artist</h4>
</header>
<section class="component-gallery-artist">
  {{ artwork-itme }}
  {{ artwork-itme }}
  {{ artwork-itme }}
</section>
