<section class="component-browse-discover">
  <div class="browse-discover-list type-center">
    <h1>Discover</h1>
    <ul class="browse-discover-genres">
      <li><a href="#">Landscape</a></li>
      <li><a href="#">Cityscape</a></li>
      <li><a href="#">Abstract</a></li>
      <li><a href="#">Humor</a></li>
      <li><a href="#">Fashion</a></li>
      <li><a href="#">Animals</a></li>
      <li><a href="#">Text</a></li>
      <li><a href="#">Figurative</a></li>
      <li><a href="#">Anime</a></li>
      <li><a href="#">Pattern</a></li>
      <li><a href="#">Geometric</a></li>
      <li><a href="#">Street Art</a></li>
      <li><a href="#">Illustration</a></li>
    </ul>
  </div>
</section>
<section class="component-browse-artwork">
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
  {{ artwork-item }}
</section>

<section class="component-browse-more type-center">
  <button>Discover More</button>
</section>
