<header class="navigation">
  <div class="navigation-wrapper">
    {{#link-to 'index' class='logo'}}
      {{artwork-logo}}
      <span class="name">Depict</span>
    {{/link-to}}
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav class="nav">
      <ul id="navigation-menu">
        <li class="nav-link">{{#link-to 'index'}}Discover{{/link-to}}</a></li>
        <li class="nav-link">{{#link-to 'index'}}Genres{{/link-to}}</a></li>
        <li class="nav-link">{{#link-to 'index'}}About{{/link-to}}</a></li>
      </ul>
      <div class="navigation-tools">
        <a href="javascript:void(0)" class="sign-up">Sign Up</a>
      </div>
    </nav>
  </div>
</header>