%gallery {
  @include outer-container();
  padding: $gutter;
  margin-bottom: $gutter;

  .more {
    color: rgba($black, .3);
    padding-bottom: 1em;
    text-transform: uppercase;
  }

  .artwork-item {
    padding-bottom: 1em;

    .name {
      font-size: $h5-font-size;
    }

    .title {
      font-size: $h6-font-size;
    }
  }
}

.gallery-title {
  @include outer-container();
  padding: 0 $gutter;
}

.component-gallery-artist {
  @extend %gallery;

  .artwork-item {
    @include media($large-screen) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}

.component-browse-artwork {
  @extend %gallery;

  .artwork-item-overlay {
    @include media($large-screen) {
      @include grid-item-columns(4);
      float: left;
      padding: 0 $gutter/2;
    }
  }
}

.component-browse-discover {
  @extend %gallery;
  
  .browse-discover-list {
    @include media($large-screen) {
      @include span-columns(6);
      @include shift(3);
    }

    .browse-discover-genres li {
      @include span-columns(2 of 6);
      @include omega(3n);
    }
  }
}

.component-gallery-recommended {
  @extend %gallery;

  .artwork-item {
    @include media($large-screen) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}

