<article class="page-artwork-single">
  {{ component-overview }}
  {{ component-background }}
</article>

<section class="gallery-container">  
  {{ component-gallery-artist }}
  {{ component-gallery-recommended }}
</section>
