<div class="hero">
  <div class="hero-inner">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="">
    <div class="hero-copy">
      <h1>Tool Library</h1>
      <h2>from Mister Machine</h2>
      <p>A few reasons why this product is worth using, who it's for and why they need it.</p>  
    </div>
    <button>Learn More</button>
  </div>
</div>
