<div class="intro-text">
  <h3>Projects</h3>
  <aside id="projects">
    <ul>
      {{#each project in projects}}
      <li>{{ project.name }}</li>
      {{/each}}
    </ul>
  </aside>
</div>

{{outlet}}